{% extends "event/base.html" %}

{% block title %}
    Community page
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="container" style="height:100vh; display:flex; flex-direction:column;">
            <a href="{% url 'event:home' %}" class="m-3">Main page</a>

            {% comment %} 
                dispalyin all chat from database
            {% endcomment %}
            {% for chat in allchat %}
                {% if chat.name == username %}
                    <h3 class="d-flex justify-content-end">
                        <div class="card mb-3" style="max-width: 100rem;">
                            <div class="card-header">You</div>
                            <div class="card-body text-secondary">
                                <p class="card-text">{{ chat.chat }}
                                    <a href="{% url 'event:delete_chat' chat.id %}"><i class="fa-solid fa-trash" style="color: #ff1414;"></i></a>
                                    <a href="{% url 'event:update_chat' chat.id %}"><i class="fa-solid fa-marker" style="color: #63E6BE;"></i></a>    
                                </p>
                            </div>
                        </div>
                    </h3>
                {% comment %} 
                    If the chat is from user who loged in display the message in right side
                {% endcomment %}
                {% else %}
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{ chat.name }}</div>
                        <div class="card-body text-secondary">
                        <p class="card-text">{{ chat.chat }}</p>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <h1>Start the conversation</h1>
            {% endfor %}

            {% comment %} 
                    form
            {% endcomment %}
            <div class="d-flex align-items-end flex-column" style="height: 200px; flex:flex-end;">            
                <form action="{% url 'event:community' %}" method="POST" autocomplete="off" class="mt-auto p-2">
                    {% csrf_token %%}
                    <input type="text" name="chat">
                    <button>Submit</button>
                </form>
            </div>
        </div>
    {% else %}
        {% comment %} 
            if user not login display message to sign in
        {% endcomment %}
        <div class="container p-5">
            <a href="{% url 'event:home' %}" class="m-3">Main page</a>
            <h3 class="text-center">Signin in to continue</h3>
            <a href="{% url 'event:signup' %}" class="btn btn-secondary m-3">Signup</a>
            <a href="{% url 'event:signin' %}" class="btn btn-secondary m-3">Signin</a>
        </div>
    {% endif %}
{% endblock %}