{% extends 'event/base.html' %}

{% block title %}
    Report
{% endblock %}

{% block head %}
    {% load static %}
{% endblock  %}

{% block body %}
    <div class="container pt-5">
        <div class="text-center">
            <h3>Report ({{ event_data.Host_name }})</h3>
            <p>{{ event_data.Event_details }}</p>
        
            <form action="{% url 'event:report' event_data.id %}" method="post">
                {% csrf_token %}
                <textarea name="report_user" id="noempty"></textarea><br>
                <input type="submit" class="btn btn-danger" id="submit">
            </form>
        </div>
        <script src="{% static 'js/noemptyform.js' %}"></script>
    </div>
{% endblock  %}
